DIFFERENT WAYS OF CREATING DATAFRAME

1)USING CSV
2)USING EXCEL
3)FROM PYTHON DICTIONARY
4)FROM LIST OF TUPLES
5)FROM LIST OF DICTIONARIES

In [1]:
import pandas as pd

# READ FROM CSV

In [13]:
df = pd.read_csv("C:\\python_numpy_pandas_matplotlib\\Datasets\\nyc_weather.csv")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

# CREATING THROUGH EXCEL

In [16]:
df = pd.read_excel("C:\\python_numpy_pandas_matplotlib\\Datasets\\weather_data.xlsx", "Sheet1")
df

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

# CREATING USING DICTIONARY

In [17]:
weather_data = {
    'date' : ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature' : [32,35,28,24,32,31],
    'windspeed' : [6,7,2,7,4,2],
    'event' : ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
print(df)

       date  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# CREATING USING TUPLES LIST

In [18]:
weather_data =[
    ('1/1/2022',32,6,'rain'),
    ('1/2/2022',35,7,'sunny'),
    ('1/3/2022',28,2,'snow')
]
df = pd.DataFrame(weather_data, columns=["date","temp","windspeed","event"])
df

       date  temp  windspeed  event
0  1/1/2022    32          6   rain
1  1/2/2022    35          7  sunny
2  1/3/2022    28          2   snow

# CREATING DF USING LIST OF DICTIONARY

In [20]:
weather_data = [
    {'date':'1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'rain'},
    {'date':'1/2/2017', 'temperature': 35, 'windspeed': 4, 'event': 'rain'},
    {'date':'1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'rain'}
]

df = pd.DataFrame(weather_data)
df

       date  temperature  windspeed event
0  1/1/2017           32          6  rain
1  1/2/2017           35          4  rain
2  1/3/2017           28          2  rain

FOR MORE REFERENCES:

https://pandas.pydata.org/docs/user_guide/io.html